/**/



@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-black";
    src: url("../fonts/Roboto-Black.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-bold";
    src: url("../fonts/OpenSans-Bold.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Roboto", Arial, sans-serif;
    background: black;
    background-image: url("../img/backround.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: baseline;
    background-image: url("../img/black.png");
    background-repeat: no-repeat;
}

header span {
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffcb00;
    font-size: 50.81px;
}

h1 {
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    font-size: 28.58;
    text-transform: uppercase;
    margin: 0;
    text-align: right;
}

main {
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.advantages__promo {
    font-family: "Roboto-black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22.23px;
    background-image: url("../img/red.png");
    width: 259px;
    height: 72px;
}

.advantages__promo p {
    margin-left: 80px;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    position: relative;
}

.advantages__bullets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.advantages__bullets li{
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    font-size: 15.88px;
    text-transform: uppercase;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advantages__bullets img {
    margin-left: 30px;
}

.advantages__achievments {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-content__price {
    font-family: "Roboto-black", Arial, Helvetica, sans-serif;
    font-size: 25.36px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 440px;
    height: 67px;
    background-image: url("../img/price.png");
    background-repeat: no-repeat;
    background-size: 440px 67px;
    padding: 0;
    position: relative;
    margin-top: 300px;
    text-shadow: 3px 3px 6px #000000;
}

.main-content__price li:first-child {
    text-decoration: line-through;
    margin-right: 90px;
}

.main-content__price li:last-child {
    margin-right: 10px;
}

.main-content__price::before {
    content: "-72%";
    background-image: url("../img/sale.png");
    font-family: "Roboto-black", Arial, Helvetica, sans-serif;
    font-size: 28.58px;
    text-align: center;
    display: block;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    width: 350px;
    height: 300px;
    position: absolute;
    bottom: -150px;
    left: -150px;
    padding: 140px 0px 0px 0px;
    z-index: -1;
    text-shadow: none;
}

.main-content__price::after {
    content: "";
    background-image: url("../img/clock.png");
    display: block;
    background-size: 485px 564px;
    background-repeat: no-repeat;
    width: 485px;
    height: 564px;
    position: absolute;
    bottom: -140px;
    left: 0px;
}

.countdown-timer {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.countdown-timer__label {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 9.53px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
}

.countdown-timer__label span {
    margin-left: 12px;
}

.main-content__button {
    margin-top: 50px;
    background-image: url("../img/button.png");
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    font-size: 31.75px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    width: 280px;
    height: 65px;
    border: none;
    text-shadow: 4px 4px 7px #000000;
    cursor: pointer;
    margin-bottom: auto;
}

.main-content__order-popup {
    font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 1;
    position: fixed;
    width: 455px;
    height: 525px;
    background-image: url("../img/fon_form.png");
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content__order-popup--open {
    display: flex;
}

.main-content__order-popup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 368px;
    margin-top: 15px;
}

.main-content__order-popup p {
    font-size: 17.72px;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.main-content__order-popup span {
    color: #ffcb00;
}

.main-content__order-popup input {
    width: 368px;
    height: 64px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: inset 3px 3px 7px #000000;
}

.main-content__order-popup input::placeholder {
    font-size: 19.69px;
    padding-left: 20px;
}

.main-content__order-popup label {
    margin-left: 20px;
    font-size: 17.06px;
}

.main-content__order-popup__button {
    text-shadow: 4px 4px 7px 10% #000000;
    margin: 40px auto;

}



.fd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fd__feedback__gallery__container{
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 17.16px;
    width: 800px;
    height: 520px;
    position: absolute;
    top: 100px;
    left: calc(50% - 400px); 
    z-index: 2;
    display: none;
}

.fd__feedback__gallery__container--open {
    display: block;
}

.fd__feedback__gallery {
    width: 622px;
    height: 520px;
    position: relative;
    margin: 0 auto;
}

.fd__feedback__gallery__content div:first-child {
    height: 350px;
    overflow: hidden;
}

.fd__feedback__gallery__comment {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000000;
}

.fd__feedback__gallery__comment p {
    margin: 0;
    width: 95%;
}

.fd__feedback__gallery__comment p:first-child {
    font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 21.45px;
    font-weight: bold;
}

.fd__feedback__gallery__comment p:last-child {
    margin-top: 8px;
}

.fd__feedback__gallery__arrow {
    list-style: none;
    width: 69px;
    height: 69px;
    border: 5px solid #ffcb00;
    cursor: pointer;
    border-top: 0;
    border-right: 0;
    transform: rotate(45deg);
    background: transparent;
    outline: none;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 30px;
    margin: -15px 0 0 0;
}

.fd__feedback__gallery__arrow--next {
    transform: rotate(-135deg);
    left: 700px;
}

.fd__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fd__feedback span {
    font-family: "Roboto-bold", Arial, Helvetica, sans-serif;
    font-size: 16.51;
    font-weight: bold;
    text-transform: uppercase;
}

.fd__feedback span:nth-child(2) {
    color: #ffcb00;
    margin-top: 20px;
}

.fd__feedback button {
    font-family: "Roboto-medium", Arial, Helvetica, sans-serif;
    font-size: 20.32px;
    text-transform: uppercase;
    border: 5px solid #ffcb00;
    outline: none;
    background: transparent;
    width: 212px;
    height: 50px;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.fd__delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fd__delivery div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fd__delivery h2 {
    font-family: "OpenSans-bold", Arial, Helvetica, sans-serif;
    font-size: 22.23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    
}

.fd__delivery h2:nth-child(2) {
    color: #ffcb00;
}

.fd__delivery__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-size: 19.05px;
}

.fd__delivery__list li {
    width: 230px;
    position: relative;
}

.fd__delivery__list li:not(:first-child) {
    margin-top: 20px;
}

.fd__delivery__list li:first-child::before {
    content: "";
    background-image: url("../img/icon_4.png");
    background-size: 40px 47px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: -60px;
    width: 40px;
    height: 47px;
}

.fd__delivery__list li:nth-child(2)::before {
    content: "";
    background-image: url("../img/icon_5.png");
    background-size: 42px 26px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: -59px;
    width: 42px;
    height: 26px;
}

.fd__delivery__list li:last-child::before {
    content: "";
    background-image: url("../img/icon_6.png");
    background-size: 45px 39px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: -68px;
    width: 45px;
    height: 39px;
}

@media only screen and (max-width: 990px) {


    body {
        height: 140vh;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
    }

    .countdown-timer,
    .countdown-timer__label,
    #open_button,
    .fd__feedback {
        display: none;
    }

    .advantages {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantages__promo {
        margin-right: auto;
    }

    .advantages__bullets {
        flex-direction: row;
        order: 1;
        margin-top: 35vh;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }

    .advantages__bullets li {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 30%;
        padding: 0;
    }

    .advantages__bullets img {
        margin: 0 auto;
    }

    .advantages__bullets li:first-child {
        order: 1;
    }

    .advantages__bullets li:nth-child(2) {
        order: 2;
    }

    .advantages__achievments {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .main-content {
        display: block;
        width: 100%;
    }

    .main-content__price {
        position: absolute;
        top: 20vh;
        left: calc(50% - 220px);
    }

    .main-content__order-popup {
        display: block;
        width: 100%;
        position: static;
        background-image: url("../img/black.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .main-content__order-popup form {
        width: 80vw;
        margin: 0 auto;
    }

    .main-content__order-popup form p {
        font-size: 0;
    }

    .main-content__order-popup label {
        font-size: 2rem;
    }

    .main-content__order-popup input {
        width: 80vw;
        height: 12vh;
        font-size: 2rem;
    }

    .main-content__order-popup input::placeholder {
        font-size: 2rem;
    }

    .main-content__order-popup button {
        width: 80vw;
        height: 20vh;
        font-size: 4rem;
    }

    .fd {
        margin-top: 10vh;
        width: 100%;
    }

    .fd__feedback__gallery__container {
        display: block;
        position: relative;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
    }

    .fd__feedback__gallery {
        width: 80vw;
        z-index: 0;
    }

    .fd__feedback__gallery__arrow {
        left: 3vw;
    }

    .fd__feedback__gallery__arrow--next {
        left: 86vw;
    }

    .fd__delivery {
        width: 100%;
        height: 100vh;
    }

    .fd__delivery div {
        flex-direction: row;
        margin-top: 5vh;
    }

    .fd__delivery h2 {
        font-size: 4rem;
    }

    .fd__delivery h2:first-child {
        margin-right: 2vw;
    }

    .fd__delivery ul {
        width: 90vw;
        margin-bottom: 20vh;
    }

    .fd__delivery li {
        font-size: 2.5rem;
        width: 70vw;
        margin-top: 5vh;
    }
    
    .fd__delivery__list li:not(:first-child) {
        margin-top: 10vh;
    }
}